<div class="container">

	<div class="row">
		<div class="col-lg-12">
			<div class="page-header">
				<h1>Accounts
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						Authorize New Account
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="" ng-click="authorizeInstagram()">Instagram</a></li>
						<li><a href="" ng-click="authorizeTumblr()">Tumblr</a></li>
						<li><a href="" ng-click="authorizeTwitter()">Twitter</a></li>
					</ul>
				</div>
				</h1>
			</div>			
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">

		</div>
	</div>


</div>