<div class="container">

	<div class="row">
		<div class="col-lg-12">
			<h1 class="site-header">Fuse</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-8"></div>

		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">What is Fuse?</div>
				<div class="panel-body">
					<p>Fuse is a tool to help engage people online, helping you gain a larger audience and become influential.</p>
					<p>The magic behind Fuse is that it will find people that you want to reach and favorite or heart their relevent content "automagically". Fuse will never post on your streams.</p>
				</div>
			</div>
		</div>
	</div>


</div>